@import "tailwindcss";

:root {
  --primary: #314f64;
  --background: #4e6a7f;
  --secondary: #aec7d9;
  --text-accent: #fafbfc;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-text-accent: var(--text-accent);
  --font-mono: var(--font-ibm-plex-mono);
}

body {
  background: var(--background);
  color: var(--text-accent);
  font-family: var(--font-ibm-plex-mono), monospace;
  margin: 0;
  padding: 0;
}

html.lenis,
html.lenis body {
  height: auto;
}
.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}
.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch],
.lenis [data-lenis-prevent-vertical],
.lenis [data-lenis-prevent-horizontal] {
  overscroll-behavior: contain;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
